## Import librairies

In [165]:
import pandas as pd 
import numpy as np

# Balance Sheet Annualy

In [166]:
balance_sheet_df=pd.read_excel(r'Financial Statement(PLTR).xlsx',sheet_name='Balanace Sheet Annualy')
balance_sheet_df=balance_sheet_df.iloc[2:,1:-1].reset_index(drop=True)
balance_sheet_df

                        Fiscal Year FY 2024 FY 2023 FY 2022 FY 2021  FY 2020
0                Cash & Equivalents    2099  831.05    2599    2291     2011
1            Short-Term Investments    3131    2843   35.14  234.15        -
2     Cash & Short-Term Investments    5230    3674    2634    2525     2011
3                       Cash Growth  42.34%  39.51%   4.31%  25.53%   86.38%
4                       Receivables  575.05  364.78  258.35  190.92   156.93
5                  Prepaid Expenses  121.55   99.29  149.56  110.87    51.89
6                   Restricted Cash     7.7    0.37       -   36.63    37.29
7              Total Current Assets    5934    4139    3042    2863     2257
8       Property, Plant & Equipment  240.38  230.62  269.41   248.2   246.62
9             Long-Term Investments    64.9    32.6       -       -        -
10          Other Intangible Assets   18.06    25.9       -       -        -
11           Other Long-Term Assets   83.26   94.68  150.25     136   186.46
12                     Total Assets    6341    4522    3461    3247     2691
13                 Accounts Payable     0.1   12.12   44.79   74.91    16.36
14                 Accrued Expenses   384.8  175.73  131.39  133.26   158.55
15        Current Portion of Leases   43.99   54.18    45.1   39.93    29.08
16     Current Income Taxes Payable   42.24   47.26   41.33   22.55        -
17         Current Unearned Revenue  259.62   246.9  183.35  227.82   189.52
18        Other Current Liabilities  265.25  209.83  141.99  161.61   210.32
19        Total Current Liabilities  996.02  746.02  587.94  660.06   603.82
20                   Long-Term Debt       -       -       -       -   197.98
21                 Long-Term Leases  195.23  175.22  204.31  220.15    229.8
22       Long-Term Unearned Revenue   39.89   28.05    9.97   40.22    50.53
23      Other Long-Term Liabilities   15.35   12.18   16.59      36    85.83
24                Total Liabilities    1246  961.46   818.8  956.42     1168
25                     Common Stock    2.34     2.2     2.1    2.03     1.79
26       Additional Paid-In Capital   10194    9122    8428    7777     6489
27                Retained Earnings   -5187   -5650   -5859   -5486    -4965
28     Comprehensive Income & Other   -5.61     0.8   -5.33   -2.35    -2.75
29              Total Common Equity    5003    3476    2565    2291     1523
30                Minority Interest   91.13    85.4   77.11       -        -
31             Shareholders' Equity    5094    3561    2642    2291     1523
32       Total Liabilities & Equity    6341    4522    3461    3247     2691
33                       Total Debt  239.22  229.39   249.4  260.07   456.86
34                  Net Cash (Debt)    4991    3445    2384    2265     1554
35                  Net Cash Growth  44.88%  44.48%   5.28%  45.69%  127.56%
36               Net Cash Per Share    2.04    1.50    1.16    1.18     1.59
37   Filing Date Shares Outstanding    2345    2213    2101    2030     1822
38  Total Common Shares Outstanding    2339    2200    2099    2027     1792
39                  Working Capital    4938    3393    2454    2203     1654
40             Book Value Per Share    2.14    1.58    1.22    1.13     0.85
41              Tangible Book Value    4985    3450    2565    2291     1523
42    Tangible Book Value Per Share    2.13    1.57    1.22    1.13     0.85
43                        Machinery   69.72   64.68    65.7   25.27    32.25
44         Construction In Progress    7.63     2.1    5.51    3.13     0.49
45           Leasehold Improvements   85.28   83.14   80.38   72.83     85.2

In [167]:
bs_df1=balance_sheet_df.transpose()
bs_df1 = bs_df1.reset_index(drop=False)
bs_df1.columns= bs_df1.iloc[0]
bs_df1=bs_df1.drop(0)
bs_df1

,Fiscal Year,Cash & Equivalents,Short-Term Investments,Cash & Short-Term Investments,Cash Growth,Receivables,Prepaid Expenses,Restricted Cash,Total Current Assets,"Property, Plant & Equipment",...,Net Cash Per Share,Filing Date Shares Outstanding,Total Common Shares Outstanding,Working Capital,Book Value Per Share,Tangible Book Value,Tangible Book Value Per Share,Machinery,Construction In Progress,Leasehold Improvements
1,FY 2024,2099,3131,5230,42.34%,575.05,121.55,7.7,5934,240.38,...,2.04,2345,2339,4938,2.14,4985,2.13,69.72,7.63,85.28
2,FY 2023,831.05,2843,3674,39.51%,364.78,99.29,0.37,4139,230.62,...,1.50,2213,2200,3393,1.58,3450,1.57,64.68,2.1,83.14
3,FY 2022,2599,35.14,2634,4.31%,258.35,149.56,-,3042,269.41,...,1.16,2101,2099,2454,1.22,2565,1.22,65.7,5.51,80.38
4,FY 2021,2291,234.15,2525,25.53%,190.92,110.87,36.63,2863,248.2,...,1.18,2030,2027,2203,1.13,2291,1.13,25.27,3.13,72.83
5,FY 2020,2011,-,2011,86.38%,156.93,51.89,37.29,2257,246.62,...,1.59,1822,1792,1654,0.85,1523,0.85,32.25,0.49,85.2

# Cash Flow Statement

In [168]:
cf_statement=pd.read_excel('Financial Statement(PLTR).xlsx',sheet_name='Cash Flow Annualy')
cf_statement=cf_statement.iloc[2:,1:-1].reset_index(drop=True)
cf_statement

,Fiscal Year,FY 2024,FY 2023,FY 2022,FY 2021,FY 2020
0,Net Income,462.19,209.83,-373.71,-520.38,-1166
1,Depreciation & Amortization,31.59,33.35,22.52,14.9,13.87
2,Loss (Gain) From Sale of Investments,19.31,13.16,272.11,73.31,-
3,Stock-Based Compensation,691.64,475.9,564.8,778.22,1271
4,Other Operating Activities,19.24,-26.3,-0.77,79.9,18.94
5,Change in Accounts Receivable,-211.16,-106.16,-72.82,-35.24,-108.48
6,Change in Accounts Payable,-18.84,-31.83,-29.86,57.77,-34.68
7,Change in Unearned Revenue,22.36,79.51,-61.15,24.73,-30.91
8,Change in Other Net Operating Assets,137.55,64.72,-97.39,-139.36,-259.67
9,Operating Cash Flow,1154,712.18,223.74,333.85,-296.61
10,Operating Cash Flow Growth,62.02%,218.31%,-32.98%,-,-
11,Capital Expenditures,-12.63,-15.11,-40.03,-12.63,-12.24
12,Investment in Securities,-322.41,-2747,-72.18,-381.41,-
13,Other Investing Activities,-5.62,51.07,66.78,-3.87,-2.68
14,Investing Cash Flow,-340.66,-2711,-45.43,-397.91,-14.92
15,Long-Term Debt Issued,-,-,-,-,199.37
16,Long-Term Debt Repaid,-,-,-,-200,-400
17,Net Debt Issued (Repaid),-,-,-,-200,-200.63
18,Issuance of Common Stock,745.4,218.24,86.09,507.46,1241
19,Repurchase of Common Stock,-282.48,-,-,-,-
20,Other Financing Activities,0.44,0.6,-0.09,-0.71,-4.27
21,Financing Cash Flow,463.36,218.84,86,306.75,1036
22,Foreign Exchange Rate Adjustments,-6.75,2.93,-3.89,-3.92,1.26
23,Net Cash Flow,1270,-1777,260.42,238.77,726.18
24,Free Cash Flow,1141,697.07,183.71,321.22,-308.84
25,Free Cash Flow Growth,63.72%,279.44%,-42.81%,-,-
26,Free Cash Flow Margin,39.83%,31.33%,9.64%,20.83%,-28.26%
27,Free Cash Flow Per Share,0.47,0.30,0.09,0.17,-0.32
28,Cash Interest Paid,-,-,-,-,11.43
29,Cash Income Tax Paid,16.18,13.52,2.9,4.13,14.28
30,Levered Free Cash Flow,924.91,661.58,299.77,474.38,264.99
31,Unlevered Free Cash Flow,924.91,661.58,299.77,476.65,273.83
32,Change in Net Working Capital,-20.32,-92.46,146.77,46.93,264.96

In [169]:
cf_df=cf_statement.transpose()
cf_df=cf_df.reset_index(drop=False)
cf_df.columns=cf_df.iloc[0]
cf_df=cf_df.drop(0)
cf_df

,Fiscal Year,Net Income,Depreciation & Amortization,Loss (Gain) From Sale of Investments,Stock-Based Compensation,Other Operating Activities,Change in Accounts Receivable,Change in Accounts Payable,Change in Unearned Revenue,Change in Other Net Operating Assets,...,Net Cash Flow,Free Cash Flow,Free Cash Flow Growth,Free Cash Flow Margin,Free Cash Flow Per Share,Cash Interest Paid,Cash Income Tax Paid,Levered Free Cash Flow,Unlevered Free Cash Flow,Change in Net Working Capital
1,FY 2024,462.19,31.59,19.31,691.64,19.24,-211.16,-18.84,22.36,137.55,...,1270,1141,63.72%,39.83%,0.47,-,16.18,924.91,924.91,-20.32
2,FY 2023,209.83,33.35,13.16,475.9,-26.3,-106.16,-31.83,79.51,64.72,...,-1777,697.07,279.44%,31.33%,0.30,-,13.52,661.58,661.58,-92.46
3,FY 2022,-373.71,22.52,272.11,564.8,-0.77,-72.82,-29.86,-61.15,-97.39,...,260.42,183.71,-42.81%,9.64%,0.09,-,2.9,299.77,299.77,146.77
4,FY 2021,-520.38,14.9,73.31,778.22,79.9,-35.24,57.77,24.73,-139.36,...,238.77,321.22,-,20.83%,0.17,-,4.13,474.38,476.65,46.93
5,FY 2020,-1166,13.87,-,1271,18.94,-108.48,-34.68,-30.91,-259.67,...,726.18,-308.84,-,-28.26%,-0.32,11.43,14.28,264.99,273.83,264.96

In [170]:
bs_anal=bs_df1[['Fiscal Year']].copy()
bs_anal

0 Fiscal Year
1     FY 2024
2     FY 2023
3     FY 2022
4     FY 2021
5     FY 2020

In [171]:
# Calculate the Working Capital
current_asset=bs_df1['Total Current Assets'].str.replace(',','').astype(float)
current_Liabilities=bs_df1['Total Current Liabilities'].str.replace(',','').astype(float)
working_capital=current_asset -current_Liabilities
bs_anal['Working capital']=working_capital
bs_anal

0 Fiscal Year  Working capital
1     FY 2024          4937.98
2     FY 2023          3392.98
3     FY 2022          2454.06
4     FY 2021          2202.94
5     FY 2020          1653.18

In [172]:
#Current Ratio
current_ratio=current_asset / current_Liabilities
bs_anal['Current ratio']= current_ratio
bs_anal

0 Fiscal Year  Working capital  Current ratio
1     FY 2024          4937.98       5.957712
2     FY 2023          3392.98       5.548109
3     FY 2022          2454.06       5.173997
4     FY 2021          2202.94       4.337484
5     FY 2020          1653.18       3.737869

In [173]:
# Debt to Equity Ratio:
total_debt=bs_df1['Total Debt'].str.replace(',', '').astype(float)
shareholders_equity=bs_df1['Shareholders\' Equity'].str.replace(',','').astype(float)
debt_to_equity=total_debt / shareholders_equity
bs_anal['Debt to Equity Ratio']=debt_to_equity
bs_anal

0 Fiscal Year  Working capital  Current ratio  Debt to Equity Ratio
1     FY 2024          4937.98       5.957712              0.046961
2     FY 2023          3392.98       5.548109              0.064417
3     FY 2022          2454.06       5.173997              0.094398
4     FY 2021          2202.94       4.337484              0.113518
5     FY 2020          1653.18       3.737869              0.299974

In [174]:
receivable=bs_df1['Receivables'].str.replace(',','').astype(float)
payable=bs_df1['Accounts Payable'].str.replace(',','').astype(float)
bs_anal['Receivable']= receivable
bs_anal['Payable']= payable

# Income Statement Annualy

In [175]:
is_annu=pd.read_excel(r'Financial Statement(PLTR).xlsx',sheet_name='Income Statement Annualy')
is_annu=is_annu.iloc[2:,1:-1].reset_index(drop=True)
is_annu

,Fiscal Year,FY 2024,FY 2023,FY 2022,FY 2021,FY 2020
0,Revenue,2866,2225,1906,1542,1093
1,Revenue Growth (YoY),28.79%,16.75%,23.61%,41.11%,47.15%
2,Cost of Revenue,565.99,431.11,408.55,339.4,352.55
3,Gross Profit,2300,1794,1497,1202,740.13
4,"Selling, General & Admin",1481,1269,1299,1226,1353
5,Research & Development,507.88,404.62,359.68,387.49,560.66
6,Operating Expenses,1989,1674,1659,1614,1914
7,Operating Income,310.4,119.97,-161.2,-411.05,-1174
8,Interest Expense,-,-,-,-3.64,-14.14
9,Interest & Investment Income,196.79,132.57,20.31,1.61,4.68
10,Other Non Operating Income (Expenses),1.28,-2.29,51.97,-2.62,4.11
11,EBT Excluding Unusual Items,508.48,250.25,-88.92,-415.69,-1179
12,Gain (Loss) on Sale of Investments,-19.31,-13.16,-272.11,-72.8,-
13,Pretax Income,489.17,237.09,-361.03,-488.49,-1179
14,Income Tax Expense,21.26,19.72,10.07,31.89,-12.64
15,Earnings From Continuing Operations,467.92,217.38,-371.09,-520.38,-1166
16,Minority Interest in Earnings,-5.73,-7.55,-2.61,-,-
17,Net Income,462.19,209.83,-373.71,-520.38,-1166
18,Net Income to Common,462.19,209.83,-373.71,-520.38,-1166
19,Net Income Growth,120.27%,-,-,-,-
20,Shares Outstanding (Basic),2250,2147,2064,1924,978
21,Shares Outstanding (Diluted),2451,2298,2064,1924,979
22,Shares Change (YoY),6.65%,11.34%,7.29%,96.42%,69.74%
23,EPS (Basic),0.21,0.10,-0.18,-0.27,-1.19
24,EPS (Diluted),0.19,0.09,-0.18,-0.27,-1.20
25,EPS Growth,111.11%,-,-,-,-
26,Free Cash Flow,1141,697.07,183.71,321.22,-308.84
27,Free Cash Flow Per Share,0.47,0.30,0.09,0.17,-0.32
28,Gross Margin,80.25%,80.62%,78.56%,77.99%,67.74%
29,Operating Margin,10.83%,5.39%,-8.46%,-26.66%,-107.41%
30,Profit Margin,16.13%,9.43%,-19.61%,-33.75%,-106.75%
31,Free Cash Flow Margin,39.83%,31.33%,9.64%,20.83%,-28.26%
32,EBITDA,341.99,153.32,-138.68,-396.15,-1160
33,EBITDA Margin,11.93%,6.89%,-7.28%,-25.69%,-106.14%
34,D&A For EBITDA,31.59,33.35,22.52,14.9,13.87
35,EBIT,310.4,119.97,-161.2,-411.05,-1174
36,EBIT Margin,10.83%,5.39%,-8.46%,-26.66%,-107.41%
37,Effective Tax Rate,4.35%,8.32%,-,-,-
38,Advertising Expenses,18.2,21.4,38.6,-,-

In [176]:
# Transpose Data Frame
is_df=is_annu.transpose()
is_df= is_df.reset_index(drop=False)
is_df.columns=is_df.iloc[0]
is_df=is_df.drop(0)
is_df

,Fiscal Year,Revenue,Revenue Growth (YoY),Cost of Revenue,Gross Profit,"Selling, General & Admin",Research & Development,Operating Expenses,Operating Income,Interest Expense,...,Operating Margin,Profit Margin,Free Cash Flow Margin,EBITDA,EBITDA Margin,D&A For EBITDA,EBIT,EBIT Margin,Effective Tax Rate,Advertising Expenses
1,FY 2024,2866,28.79%,565.99,2300,1481,507.88,1989,310.4,-,...,10.83%,16.13%,39.83%,341.99,11.93%,31.59,310.4,10.83%,4.35%,18.2
2,FY 2023,2225,16.75%,431.11,1794,1269,404.62,1674,119.97,-,...,5.39%,9.43%,31.33%,153.32,6.89%,33.35,119.97,5.39%,8.32%,21.4
3,FY 2022,1906,23.61%,408.55,1497,1299,359.68,1659,-161.2,-,...,-8.46%,-19.61%,9.64%,-138.68,-7.28%,22.52,-161.2,-8.46%,-,38.6
4,FY 2021,1542,41.11%,339.4,1202,1226,387.49,1614,-411.05,-3.64,...,-26.66%,-33.75%,20.83%,-396.15,-25.69%,14.9,-411.05,-26.66%,-,-
5,FY 2020,1093,47.15%,352.55,740.13,1353,560.66,1914,-1174,-14.14,...,-107.41%,-106.75%,-28.26%,-1160,-106.14%,13.87,-1174,-107.41%,-,-

In [177]:
is_anal=is_df[['Fiscal Year']].copy()
is_anal

0 Fiscal Year
1     FY 2024
2     FY 2023
3     FY 2022
4     FY 2021
5     FY 2020

In [178]:
revenue=is_df['Revenue'].str.replace(',','').astype(float)
cogs=is_df['Cost of Revenue'].str.replace(',','').astype(float)
dso=(bs_anal['Receivable']/ revenue)*365
dpo=(bs_anal['Payable']/ cogs)*365
bs_anal['DSO']=dso
bs_anal['DPO']=dpo
bs_anal['CCC']=dso-dpo
bs_anal

,Fiscal Year,Working capital,Current ratio,Debt to Equity Ratio,Receivable,Payable,DSO,DPO,CCC
1,FY 2024,4937.98,5.957712,0.046961,575.05,0.10,73.235607,0.064489,73.171118
2,FY 2023,3392.98,5.548109,0.064417,364.78,12.12,59.840315,10.261418,49.578896
3,FY 2022,2454.06,5.173997,0.094398,258.35,44.79,49.474161,40.015543,9.458618
4,FY 2021,2202.94,4.337484,0.113518,190.92,74.91,45.191829,80.560253,-35.368425
5,FY 2020,1653.18,3.737869,0.299974,156.93,16.36,52.405718,16.937739,35.467979

In [179]:
tota_assets=bs_df1['Total Assets'].str.replace(',','').astype(float)
bs_anal['Total Assets']=tota_assets
bs_anal['Begenning Total Assets']=bs_anal['Total Assets'].shift(-1,fill_value=bs_anal['Total Assets'].iloc[-1])
Average_assets=(bs_anal['Begenning Total Assets']+bs_anal['Total Assets'])/2
assets_turnover=revenue/ Average_assets
bs_anal['Total Assets Turnover']=assets_turnover
bs_anal

,Fiscal Year,Working capital,Current ratio,Debt to Equity Ratio,Receivable,Payable,DSO,DPO,CCC,Total Assets,Begenning Total Assets,Total Assets Turnover
1,FY 2024,4937.98,5.957712,0.046961,575.05,0.10,73.235607,0.064489,73.171118,6341.0,4522.0,0.527663
2,FY 2023,3392.98,5.548109,0.064417,364.78,12.12,59.840315,10.261418,49.578896,4522.0,3461.0,0.557435
3,FY 2022,2454.06,5.173997,0.094398,258.35,44.79,49.474161,40.015543,9.458618,3461.0,3247.0,0.568277
4,FY 2021,2202.94,4.337484,0.113518,190.92,74.91,45.191829,80.560253,-35.368425,3247.0,2691.0,0.519367
5,FY 2020,1653.18,3.737869,0.299974,156.93,16.36,52.405718,16.937739,35.467979,2691.0,2691.0,0.406169

In [180]:
bs_anal['Total Equity']=shareholders_equity
bs_anal['Begenning Total Equity']=bs_anal['Total Equity'].shift(-1,fill_value=bs_anal['Total Equity'].iloc[-1])
average_equity=(bs_anal['Begenning Total Equity']+bs_anal['Total Equity'])/2
bs_anal['Equity Turnover']=revenue/average_equity

# Activity Ratios

In [181]:
activity_ratios_df=bs_anal.copy()
activity_ratios_df

,Fiscal Year,Working capital,Current ratio,Debt to Equity Ratio,Receivable,Payable,DSO,DPO,CCC,Total Assets,Begenning Total Assets,Total Assets Turnover,Total Equity,Begenning Total Equity,Equity Turnover
1,FY 2024,4937.98,5.957712,0.046961,575.05,0.10,73.235607,0.064489,73.171118,6341.0,4522.0,0.527663,5094.0,3561.0,0.662276
2,FY 2023,3392.98,5.548109,0.064417,364.78,12.12,59.840315,10.261418,49.578896,4522.0,3461.0,0.557435,3561.0,2642.0,0.717395
3,FY 2022,2454.06,5.173997,0.094398,258.35,44.79,49.474161,40.015543,9.458618,3461.0,3247.0,0.568277,2642.0,2291.0,0.772755
4,FY 2021,2202.94,4.337484,0.113518,190.92,74.91,45.191829,80.560253,-35.368425,3247.0,2691.0,0.519367,2291.0,1523.0,0.808600
5,FY 2020,1653.18,3.737869,0.299974,156.93,16.36,52.405718,16.937739,35.467979,2691.0,2691.0,0.406169,1523.0,1523.0,0.717663

In [182]:
is_anal['Current Ratio']=activity_ratios_df['Current ratio']
cash_equivalents= bs_df1['Cash & Equivalents'].str.replace(',','').astype(float)
cash_ratios=cash_equivalents / current_Liabilities
is_anal['Cash Ratio']=cash_ratios

# Liquidity Ratios

In [183]:
liquidity_ratios_df=is_anal.copy()
liquidity_ratios_df

0 Fiscal Year  Current Ratio  Cash Ratio
1     FY 2024       5.957712    2.107387
2     FY 2023       5.548109    1.113978
3     FY 2022       5.173997    4.420519
4     FY 2021       4.337484    3.470897
5     FY 2020       3.737869    3.330463

# Solvency Ratios

In [184]:
solv_df=bs_df1[['Fiscal Year']].copy()
solv_df['Debt to Equity']= debt_to_equity
solv_df['Debt to Capital']=total_debt/(total_debt+shareholders_equity) 
solv_df['Debt to Assets']=total_debt / tota_assets
solv_df['Equity Ratio']=shareholders_equity/ tota_assets
solvency_ratios_df=solv_df.copy()
solvency_ratios_df

0 Fiscal Year  Debt to Equity  Debt to Capital  Debt to Assets  Equity Ratio
1     FY 2024        0.046961         0.044855        0.037726      0.803343
2     FY 2023        0.064417         0.060519        0.050728      0.787483
3     FY 2022        0.094398         0.086256        0.072060      0.763363
4     FY 2021        0.113518         0.101945        0.080095      0.705574
5     FY 2020        0.299974         0.230754        0.169773      0.565961

# Profitability Ratios

In [185]:
prof_df=bs_df1[['Fiscal Year']].copy()
prof_df['Gross Profit']= revenue - cogs
prof_df['Revenue']=revenue
net_inc=is_df['Net Income'].str.replace(',','').astype(float)
ebitda=is_df['EBITDA'].str.replace(',','').astype(float)
ebit=is_df['EBIT'].str.replace(',','').astype(float)
ebt=is_df['Pretax Income'].str.replace(',','').astype(float)
prof_df['Net Income']=net_inc
prof_df['EBITDA']=ebitda
prof_df['EBIT']=ebit
prof_df['Gross Profit Margin %']=(prof_df['Gross Profit']/prof_df['Revenue'])*100
prof_df['Operating profit margin %']= (ebit / revenue)*100
prof_df['Pre-tax margin %']=(ebt / revenue)*100
prof_df['Net profit margin %']=(net_inc/revenue)*100
prof_df['Return on assets (ROA)%']=(net_inc /Average_assets) *100
prof_df['Return on equity (ROE) %']=(net_inc/average_equity)*100
profitability_ratios_df=prof_df.copy()
profitability_ratios_df

,Fiscal Year,Gross Profit,Revenue,Net Income,EBITDA,EBIT,Gross Profit Margin %,Operating profit margin %,Pre-tax margin %,Net profit margin %,Return on assets (ROA)%,Return on equity (ROE) %
1,FY 2024,2300.01,2866.0,462.19,341.99,310.40,80.251570,10.830426,17.068039,16.126657,8.509436,10.680300
2,FY 2023,1793.89,2225.0,209.83,153.32,119.97,80.624270,5.391910,10.655730,9.430562,5.256921,6.765436
3,FY 2022,1497.45,1906.0,-373.71,-138.68,-161.20,78.565058,-8.457503,-18.941763,-19.607030,-11.142218,-15.151429
4,FY 2021,1202.60,1542.0,-520.38,-396.15,-411.05,77.989624,-26.656939,-31.678988,-33.747082,-17.527114,-27.287887
5,FY 2020,740.45,1093.0,-1166.00,-1160.00,-1174.00,67.744739,-107.410796,-107.868253,-106.678866,-43.329617,-76.559422

In [186]:
is_df['Fiscal Year']=pd.to_datetime(is_df['Fiscal Year'].str.replace('FY ','')+'-12-31')
bs_df1['Fiscal Year']=pd.to_datetime(bs_df1['Fiscal Year'].str.replace('FY ','')+'-12-31')
cf_df['Fiscal Year']=pd.to_datetime(cf_df['Fiscal Year'].str.replace('FY ','')+'-12-31')
profitability_ratios_df['Fiscal Year']=pd.to_datetime(profitability_ratios_df['Fiscal Year'].str.replace('FY ','')+'-12-31')
solvency_ratios_df['Fiscal Year']=pd.to_datetime(solvency_ratios_df['Fiscal Year'].str.replace('FY ','')+'-12-31')
liquidity_ratios_df['Fiscal Year']=pd.to_datetime(liquidity_ratios_df['Fiscal Year'].str.replace('FY ','')+'-12-31')
activity_ratios_df['Fiscal Year']=pd.to_datetime(activity_ratios_df['Fiscal Year'].str.replace('FY ','')+'-12-31')

In [187]:
data={
    'Income Statement':is_annu,
    'Blance Sheet (P&L)':balance_sheet_df,
    'Cash Flow Statement':cf_statement,
    'IS Transpose':is_df,
    'BS Transpose':bs_df1,
    'CF Transpose':cf_df,
    'Profitability Ratios':profitability_ratios_df,
    'Solvency Ratios':solvency_ratios_df,
    'Liquidity Ratios':liquidity_ratios_df,
    'Activity Ratios': activity_ratios_df
}
file_name='Financial ratios(PLTR).xlsx'
with pd.ExcelWriter(file_name,engine='xlsxwriter') as writer:
    for name,df in data.items():
        df.to_excel(writer,sheet_name=name,index=False)
print(f"Excel file '{file_name}' saved successfully")

Excel file 'Financial ratios(PLTR).xlsx' saved successfully